{% extends 'layout.html' %}
{% block title %}Notatki {{ notes[0].user.full_name }}{% endblock %}
{% block content %}
    <div class="main">
        <h2>Notatki {{ notes[0].user.full_name }}</h2>
        <div>Kontakt z autorem: <a href="mailto:{{ notes[0].user.email }}">{{ notes[0].user.email }}</a></div>
        <table class="note-table">
            <thead>
                <th>Tytuł</th>
                <th>Zabezpieczona?</th>
                <th>Załącznik?</th>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr class="note-container">
                        <td class="note-item"><a href="{{ url_for('web.note_authorize', note_id=note.id) }}">{{ note.title }}</a></td>
                        <td class="note-itme">
                            {% if note.password %}
                                <img src="{{ url_for('static', filename='images/tick.svg') }}" alt="Tak" class="icon-small">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/cross.svg') }}" alt="Nie" class="icon-small">
                            {% endif %}
                        </td>
                        <td class="note-itme">
                            {% if note.filename %}
                                <img src="{{ url_for('static', filename='images/tick.svg') }}" alt="Tak" class="icon-small">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/cross.svg') }}" alt="Nie" class="icon-small">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}