{% extends 'layout.html' %}
{% block title %}Autoryzacja{% endblock %}
{% block content %}
     <div class="main">
        <h2>Podaj hasło do notatki</h2>
        <form action="{{ url_for('web.note_authorize', note_id=note_id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <ul>
                <li class="form-group">
                    <label for="password" class="hidden">Hasło</label>
                    <input type="password" id="password" name="password" autocomplete="password" class="form-item" placeholder="Hasło" required>
                </li>
                <li class="form-group">
                    <input type="submit" value="Zatwierdź" class="btn btn-primary">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}