{% extends 'layout.html' %}
{% block title %}Resetowanie hasła{% endblock %}
{% block head %}<script src="{{ url_for('static', filename='js/password.js') }}"></script>{% endblock %}
{% block content %}
     <div class="main">
        <h2>Podaj nowe hasło</h2>
        <form action="{{ url_for('web.reset_password', token_id=token_id) }}" method="post" enctype="multipart/form-data">
        <ul>
            <li class="form-group">
                <label for="password" class="hidden">Nowe hasło</label>
                <input type="password" id="password" name="password" autocomplete="password" class="form-item" placeholder="Nowe hasło" required>
            </li>
            <li class="form-group my-3">
                <label for="password-repeat" class="hidden">Powtórz hasło</label>
                <input type="password" id="password-repeat" name="password_repeat" autocomplete="new-password" class="form-item" placeholder="Powtórz hasło" required minlength="8">
            </li>
            <li class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary">
            </li>
        </ul>
        </form>
    </div>
{% endblock %}