{% extends 'layout.html' %}
{% block title %}Rejestracja{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="main">
        <h2>Zarejestruj się</h2>
        <form action="register" method="post" enctype="multipart/form-data" id="register-form">
        <ul>
            <li class="form-group my-3">
                <label for="email" class="hidden">Adres email</label>
                <input type="text" id="email" name="email" autocomplete="email" class="form-item" placeholder="Adres email" required minlength="3">
            </li>
            <li class="form-group my-3">
                <label for="first-name" class="hidden">Imię</label>
                <input type="text" id="first-name" name="first_name" autocomplete="given-name" class="form-item" placeholder="Imię" required>
            </li>
            <li class="form-group my-3">
                <label for="last-name" class="hidden">Nazwisko</label>
                <input type="text" id="last-name" name="last_name" autocomplete="family-name" class="form-item" placeholder="Nazwisko" required>
            </li>
            <li class="form-group my-3">
                <label for="password" class="hidden">Hasło</label>
                <input type="password" id="password" name="password" autocomplete="new-password" class="form-item" placeholder="Hasło" required>
            </li>
            <li class="form-group my-3">
                <label for="password-repeat" class="hidden">Powtórz hasło</label>
                <input type="password" id="password-repeat" name="password_repeat" autocomplete="new-password" class="form-item" placeholder="Powtórz hasło" required minlength="8">
            </li>
            <input type="submit" value="Załóż konto" class="btn btn-primary">
        </ul>
        </form>
    </div>
{% endblock %}